* {
  outline: none !important;
}

body {
  background: #242424;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

.md-table {
  user-select: none;
  -webkit-user-select: none;
  outline: 0;
  header {
    div > div {
      padding: 10px;

    }
    background: #1f1f1f;
    color: #fff;

    text-align: center;

  }

  .md-table-row {

    text-align: center;
    .left {
      text-align: left;
    }

    .cells {
      &.selected {
        background: #aaa;
      }

      .icon {
        padding: 0;
        line-height: 38px;
      }
      div {
        padding: 10px;
      }
    }
    .points {
      background: #1b8b22;
      color: #fff;

    }

    .balance-1 {
      background: #dde1df;
    }
    .balance-2 {
      background: #b2b6b4;
    }
  }
}



.history {
  .cells {

    div {
      background: #eee;
    }
  }
}

.md-matches {
  margin-bottom: 20px;
  background: #acacac;
  padding: 10px;
  border-top: 60px solid #000;

  .layout-row {
    .action {
      text-align: right;
    }

    div {
      text-align: center;
    }
  }

  input  {
    background: none;
    text-align: center;

    font-size: 40px;

    border: 0;

    margin: 20px 0;

    width: 100%;

  }


}