* {
  outline: none !important;
}

body {
  background: #242424;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

.md-table {
  user-select: none;
  -webkit-user-select: none;
  outline: 0;
  header {
    div > div {
      padding: 10px;

    }
    background: #1f1f1f;
    color: #fff;

    text-align: center;

  }

  .md-table-row {

    text-align: center;
    .left {
      text-align: left;
    }

    .cells {
      &.selected {
        background: #aaa;
      }

      .icon {
        padding: 0;
        line-height: 38px;
      }
      div {
        padding: 10px;
      }
    }
    .points {
      background: #1b8b22;
      color: #fff;

    }

    .balance-1 {
      background: #dde1df;
    }
    .balance-2 {
      background: #b2b6b4;
    }
  }
}



.history {
  .cells {

    div {
      background: #eee;
    }
  }
}

.md-matches {
  margin-bottom: 20px;
  background: #c1c1c1;
  padding: 10px;
  border-top: 60px solid #000;

  transition: 500ms all;

  &.success {

    position: relative;
    border-top: 60px solid #1f6920;
    &:after {
      position: absolute;
      top: 0; left: 0;
      bottom: 0; right: 0;

      background: #209922;
      content: 'Mecz dodany';
      text-align: center;
      font-size: 44px;
      line-height: 210px;
      color: #9ff49a;
      text-transform: uppercase;
    }
    * {
      visibility: hidden;
    }
  }

  &.fail {

    position: relative;
    border-top: 60px solid #69131d;
    &:after {
      position: absolute;
      top: 0; left: 0;
      bottom: 0; right: 0;

      background: #b72329;
      content: 'Wybierz graczy';
      text-align: center;
      font-size: 36px;
      line-height: 210px;
      color: #f49980;
      text-transform: uppercase;
    }
    * {
      visibility: hidden;
    }
  }

  .layout-row {
    .action {
      text-align: right;
    }

    div {
      text-align: center;
    }
  }

  input  {
    background: none;
    text-align: center;

    font-size: 40px;

    border: 0;

    margin: 20px 0;

    width: 100%;

  }


}